body {
  padding: 10px;
  font-family: sans-serif;
}

#editor{
    width: 500px;
    height: 250px;
    align-content: center;
    border: none;
    margin-top: 50px;
}
#editor:hover{
    border-color: #90BAFE;
    border-radius: 5px;
    width: 750px;
    
}